@import "./variables.scss";
@import "./fonts.scss";

body {
  background: $primary-dark;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.header {
  flex: 0 0 auto;
  margin-top: 30px;

  &__container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    background: $secondary-dark;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left-ul {
    display: flex;
    gap: 30px;
  }

  &__left-link {
    text-transform: uppercase;
    font-size: 16px;
    color: $primary-title-color;
  }

  &__right {
    display: flex;
    gap: 30px;
  }

  &__right-jobs {
    text-transform: uppercase;
    font-size: 16px;
    color: $primary-title-color;
  }

  &__right-wrap {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__wrap-menu {
    text-transform: uppercase;
    font-size: 16px;
    color: $primary-title-color;
  }

  @media (max-width: 1159px) {
    margin-top: 0;
  }

  @media (max-width: 760px) {
    &__container {
      padding: 30px 20px;
    }
  }

  @media (max-width: 549px) {
    &__left {
      display: none;
    }
  }

  @media (max-width: 375px) {
    &__right-jobs {
      display: none;
    }
    &__wrap-menu {
      display: none;
    }
    &__logo-img {
      max-width: 85px;
    }

    &__wrap-burger {
      width: 20px;
    }
  }
}

.main {
  flex: 1 0 auto;
}

.preview {
  // background: url(../img/colored.png) no-repeat right 360px;
  padding-bottom: 55px;

  &__container {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 164px;
  }

  &__title {
    margin-top: 171px;
    font-family: "Ginora Sans Bold";
    font-size: 82px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    text-transform: capitalize;
    max-width: 836px;
    text-align: center;
    color: $primary-title-color;
  }

  &__title-grad {
    background: linear-gradient(to right, #8093ff, #66ffe5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-mask-image: linear-gradient(to right, black, black);
    mask-image: linear-gradient(to right, black, black);
  }

  @media (max-width: 712px) {
    background-size: 360px;
    padding: 100px 0 180px 0;

    &__arrow {
      display: none;
    }

    &__title {
      font-size: 42px;
      line-height: 56px;
      margin-top: 0;
      text-align: start;
    }
  }
}

.bulding {
  padding: 70px 0 155px 0;
  &__wrap {
    position: relative;
  }

  &__first {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 90px;
  }

  &__first-small {
    position: absolute;
    right: -90px;
  }

  &__second {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 522px;
    position: absolute;
    top: 311px;
  }

  &__second-title {
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
    color: $primary-title-color;
  }

  &__second-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: $secondary-title-color;
  }

  &__second-btn {
    display: flex;
    gap: 10px;
  }

  &__btn-link {
    font-family: "Ginora Sans Semi Bold";
    color: $primary-color;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  @media (max-width: 1000px) {
    padding: 30px 0 30px 0;
    &__second {
      margin-top: 40px;
      position: static;
    }
  }

  @media (max-width: 850px) {
    &__first-small {
      max-width: 200px;
    }
  }
  @media (max-width: 659px) {
    &__first-small {
      max-width: 100px;
      right: -30px;
    }

    &__first {
      margin-right: 33px;
    }
  }

  @media (max-width: 518px) {
    &__second {
      max-width: 100%;
    }

    &__second-title {
      font-size: 36px;
      line-height: 44px;
    }
  }
}

.invest {
  padding: 208px 0 90px 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 62px;
    line-height: 74px;
    color: $primary-title-color;
    flex-basis: 664px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: $secondary-title-color;
    flex-basis: 442px;
  }

  @media (max-width: 961px) {
    padding: 108px 0 90px 0;
    &__wrap {
      gap: 10px;
    }
  }

  @media (max-width: 737px) {
    padding: 100px 0 60px 0;
    &__wrap {
      flex-direction: column;
      gap: 20px;
    }

    &__title {
      flex-basis: 0;
    }

    &__subtitle {
      flex-basis: 0;
    }
  }

  @media (max-width: 566px) {
    &__title {
      font-size: 36px;
      line-height: 44px;
    }
  }
}

.news {
  padding-bottom: 200px;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__first {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__first-right {
    flex-basis: 507px;
  }

  &__category {
    color: $primary-gray;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 4.8px;
    margin-bottom: 6px;
  }

  &__title {
    font-size: 44px;
    line-height: 50px;
    color: $primary-title-color;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: $secondary-title-color;
    margin: 20px 0 45px 0;
  }

  &__btn {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__btn-text {
    font-family: "Ginora Sans Semi Bold";
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: $primary-color;
  }

  &__second {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__second-left {
    flex-basis: 518px;
  }

  @media (max-width: 1123px) {
    &__first {
      gap: 20px;
    }
    &__second {
      gap: 20px;
    }
  }
  @media (max-width: 780px) {
    &__first {
      flex-direction: column;
    }

    &__first-right {
      flex-basis: 0;
    }

    &__second {
      flex-direction: column-reverse;
    }

    &__second-left {
      flex-basis: 0;
    }
  }

  @media (max-width: 600px) {
    padding-bottom: 100px;
    &__first {
      gap: 20px;
    }
    &__second {
      gap: 20px;
    }

    &__category {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 3.6px;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 26px;
      line-height: normal;
    }
  }
}

.border {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(128, 147, 255, 0) 0%,
    #7d9bfa 21.14%,
    #60dbd4 78.8%,
    rgba(92, 228, 207, 0) 100%
  );
}

.portfolios {
  &__title {
    font-size: 62px;
    line-height: 74px;
    color: $primary-title-color;
    margin: 30px 0 30px 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 40px 20px;
    max-width: 233px;
    width: 100%;
  }

  &__block-name {
    font-family: "Ginora Sans Light";
    font-size: 36px;
    line-height: 36px;
    color: $secondary-title-color;
  }

  &__block-active {
    background: rgba(48, 54, 58, 0.2);
  }

  &__block-name-active {
    background: linear-gradient(135deg, #99a9ff 0%, #5ce4cf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (max-width: 958px) {
    &__content {
      justify-content: center;
    }
  }
  @media (max-width: 504px) {
    &__title {
      font-size: 36px;
      line-height: 44px;
      margin: 20px 0 20px 0;
    }

    &__content {
      gap: 40px;
    }

    &__block-name {
      font-size: 26.024px;
      line-height: 26.024px;
    }

    &__block-active {
      background: none;
    }

    &__block {
      justify-content: center;
      padding: 0;
      max-width: none;
      width: max-content;
    }
  }
}

.lineup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 200px 0;

  &__left {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 566px;
    width: 100%;
  }

  &__left-first {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  &__left-box:nth-child(1) {
    margin-bottom: 60px;
  }

  &__left-second {
    display: flex;
    flex-direction: column;
  }

  &__left-box {
    max-width: 268px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box-title {
    margin: 30px 0 15px 0;
    text-align: center;
    font-family: "Ginora Sans Semi Bold";
    font-size: 26px;
    line-height: 24px;
    color: $secondary-title-color;
  }

  &__box-subtitle {
    font-size: 16px;
    line-height: 14px;
    color: $secondary-title-color;
  }

  &__border {
    width: 1px;
    height: 992px;
    background: linear-gradient(
      90deg,
      rgba(128, 147, 255, 0) 0%,
      #7d9bfa 23.21%,
      #60dbd4 85.81%,
      rgba(92, 228, 207, 0) 100%
    );
  }

  &__right {
    display: flex;
    flex-direction: column;
    padding: 173px 164px 121px 69px;
    background: $bg-shape;
  }

  &__right-title {
    font-size: 62px;
    line-height: 74px;
    color: $primary-white;
    max-width: 373px;
  }

  &__right-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: $secondary-title-color;
    max-width: 373px;
    margin: 40px 0 28px 0;
  }

  &__right-btn {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__btn-text {
    font-family: "Ginora Sans Semi Bold";
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary-color;
  }
  @media (max-width: 1304px) {
    padding: 200px 0 200px 20px;
    gap: 5px;

    &__right-title {
      max-width: none;
    }

    &__right-subtitle {
      max-width: none;
    }
    &__right {
      padding: 173px 55px 121px 69px;
    }
  }

  @media (max-width: 1224px) {
    flex-direction: column;
    gap: 60px;
    padding: 200px 20px;
    &__border {
      display: none;
    }
  }

  @media (max-width: 600px) {
    padding: 0;
    margin: 100px 0;
    background: $bg-shape;

    &__left {
      padding: 0 20px;
      justify-content: center;
      gap: 20px;
    }

    &__box-title {
      font-size: 20px;
      line-height: normal;
      margin: 20px 0 10px 0;
    }

    &__box-subtitle {
      font-size: 16px;
      line-height: 14px;
    }

    &__left-box {
      max-width: 146px;
    }

    &__left-second {
      margin-top: 90px;
    }

    &__right {
      padding: 0 33px 60px 33px;
    }

    &__right-title {
      font-size: 36px;
      line-height: 44px;
    }

    &__right-subtitle {
      font-size: 16px;
      line-height: 24px;
      margin: 30px 0;
    }
  }
}

.jobs {
  &__tile {
    font-size: 62px;
    line-height: 74px;
    color: $primary-title-color;
    margin: 30px 0 140px 0;
  }

  &__content {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    max-width: 763px;
    width: 100%;
  }

  &__left-box {
    display: flex;
    padding: 40px 84px 40px 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__first-category {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 4.8px;
    color: $primary-gray;
  }

  &__first-title {
    font-size: 44px;
    line-height: 50px;
    color: $primary-title-color;
    margin: 5px 0 20px 0;
    max-width: 499px;
    text-transform: capitalize;
  }

  &__first-subtitle {
    font-size: 16px;
    line-height: 16px;
    color: $secondary-title-color;
    text-transform: capitalize;
  }

  &__first-title-active {
    background: linear-gradient(135deg, #99a9ff 0%, #5ce4cf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 267px;
    width: 100%;
  }

  &__right-title {
    font-family: "Ginora Sans Semi Bold";
    font-size: 26px;
    line-height: 38px;
    text-transform: capitalize;
    color: $primary-title-color;
  }

  &__right-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  &__right-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right-text {
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    color: $secondary-title-color;
  }

  &__right-text-active {
    color: $primary-color;
  }

  &__border {
    background: linear-gradient(90deg, #7d9bfa 0%, #60dbd4 100%);
    width: 100%;
    height: 1px;
  }
  @media (max-width: 1044px) {
    &__content {
      gap: 10px;
    }
  }
  @media (max-width: 828px) {
    &__content {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  @media (max-width: 640px) {
    &__left-box {
      padding: 30px 20px;
    }
  }

  @media (max-width: 566px) {
    &__tile {
      margin-top: 0;
      margin-bottom: 60px;
      font-size: 42px;
      line-height: 56px;
    }
    .border {
      display: none;
    }

    &__right-title {
      font-size: 26px;
      line-height: normal;
    }

    &__right-text {
      font-size: 20px;
      line-height: normal;
    }
    &__content {
      gap: 75px;
      padding-bottom: 0;
    }

    &__first-category {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 3.6px;
    }

    &__first-title {
      font-size: 26px;
      line-height: normal;
    }

    &__first-subtitle {
      font-size: 12px;
      line-height: 16px;
    }

    &__left-box {
      gap: 20px;
    }
  }
}

.stories {
  padding: 200px 0;

  &__title {
    color: $primary-title-color;
    font-size: 62px;
    line-height: 50px;
    text-transform: capitalize;
    margin: 30px 0 90px 0;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 140px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex-basis: 496px;
  }

  &__box-main {
    padding: 40px 15px 0 15px;
    color: $secondary-title-color;
    font-size: 44px;
    line-height: 50px;
    text-transform: capitalize;
  }

  &__main-time {
    color: $secondary-title-color;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
  }

  &__box-main-active {
    background: linear-gradient(140deg, #99a9ff 0%, #5ce4cf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__footer-btn {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__btn-text {
    font-family: "Ginora Sans Semi Bold";
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary-color;
  }

  &__arrow {
    display: flex;
    gap: 30px;
  }

  @media (max-width: 1202px) {
    &__wrap {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 800px) {
    padding: 100px 0;

    &__title {
      margin: 20px 0 60px 0;
      font-size: 36px;
      line-height: 44px;
    }

    &__wrap {
      gap: 40px;
      margin-bottom: 60px;
      padding: 0 15px;
    }

    &__box-main {
      padding: 0;
      padding-top: 30px;
    }

    &__box-main {
      font-size: 26px;
      line-height: normal;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__main-time {
      font-size: 12px;
      line-height: 16px;
    }
  }

  @media (max-width: 430px) {
    &__footer {
      flex-direction: column-reverse;
      align-items: stretch;
      gap: 20px;
    }

    &__arrow {
      justify-content: flex-end;
    }
  }
}

.footer {
  flex: 0 0 auto;

  &__main {
    display: flex;
    justify-content: space-between;
  }

  &__main-left {
    flex-basis: 565px;
  }

  &__left-title {
    background: var(
      --angular-gradient,
      conic-gradient(
        from 180deg at 50% 50%,
        #8093ff 42.37495422363281deg,
        #66ffe5 199.8749542236328deg
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 62px;
    line-height: 74px;
    text-transform: capitalize;
  }

  &__left-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: $secondary-title-color;
    margin-top: 40px;
  }

  &__main-right {
    flex-basis: 466px;
  }

  &__right-form {
    display: flex;
    flex-direction: column;
  }

  &__form-input {
    padding: 0 20px 22px 30px;
    border-bottom: 1px solid $border-input;
    color: $secondary-title-color;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
    position: relative;
    width: 100%;
  }

  &__form-wrap {
    position: relative;
    width: 100%;
    margin-top: 36px;
  }

  &__form-wrap::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, #99a9ff 0%, #5ce4cf 100%);
    left: 30px;
    bottom: 0;
  }

  &__form-input::placeholder {
    color: $secondary-title-color;
    font-size: 22px;
    line-height: 26px;
    text-transform: capitalize;
  }

  &__form-btn {
    font-family: "Ginora Sans Semi Bold";
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary-color;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 60px 0 0 30px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
  }

  &__link-left {
    display: flex;
    gap: 30px;
  }

  &__link-right {
    display: flex;
    gap: 30px;
  }

  &__link-text {
    color: $secondary-title-color;
    font-size: 16px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }

  &__link-text:hover {
    color: $primary-color;
  }

  &__design {
    text-align: center;
    padding: 60px 0 40px 0;
  }

  &__design-text {
    color: $secondary-title-color;
    font-size: 16px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }

  &__design-link {
    color: $primary-color;
    font-size: 16px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }

  @media (max-width: 1070px) {
    &__main {
      gap: 20px;
    }
  }

  @media (max-width: 990px) {
    &__link {
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 740px) {
    &__main {
      flex-direction: column;
    }

    &__main-left {
      flex-basis: 0;
    }

    &__main-right {
      flex-basis: 0;
    }

    &__left-subtitle {
      margin-top: 20px;
    }

    &__left-title {
      font-size: 36px;
      line-height: 44px;
    }

    &__form-input {
      padding: 0 20px 20px 10px;
    }

    &__form-wrap::after {
      left: 10px;
    }

    &__form-input {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }

    &__form-input::placeholder {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
    }

    &__form-btn {
      margin: 0;
      margin-top: 60px;
    }

    &__link {
      padding: 60px 0;
    }

    &__link-text {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0;
    }

    &__design {
      padding: 30px 0 34px 0;
    }

    &__design-text {
      font-size: 16px;
      line-height: 16px;
    }

    &__link-left {
      gap: 20px;
    }

    &__link-right {
      gap: 20px;
    }

    @media (max-width: 436px) {
      &__design-text {
        letter-spacing: 0;
      }
    }
  }
}
