$primary-dark: #1d1d1d;
$secondary-dark: #232526;
$primary-title-color: #f4f4f4;
$secondary-title-color: #b8b8b8;
$primary-color: #99a9ff;
$primary-gray: rgba(184, 184, 184, 0.7);
$bg-shape: #232526;
$primary-white: #fff;
